@using ProjetoR.Models.Seguranca;
@{
    Usuario usuario = Usuario.CarregarUsuario(Request);
}
@if (!(usuario is Usuario.Gerente))
{
    <h1>Você não é Gerente</h1>
    <h4>@Html.ActionLink("Tornar-se", "TornarGerente", "Restaurante") </h4>
}
@if (!(usuario is Usuario.Cozinha))
{
    <h1>Você não é Cozinha</h1>
    <h4>@Html.ActionLink("Tornar-se", "TornarCozinha", "Restaurante") </h4>
}
@if (!(usuario is Usuario.Cliente))
{
    <h1>Você não é Cliente</h1>
    <h4>@Html.ActionLink("Tornar-se", "TornarCliente", "Restaurante") </h4>
}
@if (usuario is Usuario.Cliente || usuario is Usuario.Gerente || usuario is Usuario.Cozinha)
{
    <h2>Você é: @usuario.ToString()</h2>
    <h3>@Html.ActionLink("Sair", "Sair", "Restaurante") </h3>
}

<h3>@Html.ActionLink("Menu", "Menu", "Restaurante") </h3>
<h3>@Html.ActionLink("Gerenciador", "Gerenciador", "RestauranteGerente") </h3>